In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, Integer, String, insert, select

engine = create_engine("sqlite+pysqlite:///GPSdata1.db", echo=False)

metadata_obj = MetaData()

players_table = Table("players", metadata_obj, autoload_with=engine)
sessions_data_table = Table("sessions_data", metadata_obj, autoload_with=engine)

In [2]:
measure = "HSR"
measures = sessions_data_table.columns
HSR_column = measures[measure]


with engine.connect() as conn:
    stmt = (
        select(players_table.c.team, players_table.c.position, HSR_column)
        .join(sessions_data_table, players_table.c.id == sessions_data_table.c.player_id)
        .order_by(players_table.c.team)
    )

    data = conn.execute(stmt).mappings().all()

df = pd.DataFrame(data)

df

       HSR position team
0    282.8       CB  1st
1    465.3       CB  1st
2    249.9       CB  1st
3    385.1       CB  1st
4    440.9       CB  1st
..     ...      ...  ...
559  726.5      FWD  U23
560  696.8      FWD  U23
561  811.0      FWD  U23
562  679.2      FWD  U23
563  696.7      FWD  U23

[564 rows x 3 columns]